<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logos/Logo.jpg" alt="Logo" class="icon">
             DEL BOSQUE                    
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="datos">DATOS                    
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="XmlPage">XML</a>
        </li>
      </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="Perfil">PERFIL                    </a>
            </li>
          </ul>
        </form>
      
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row" style="flex-wrap: nowrap;">
    <div class="col-lg-10">
      <p style="margin-left: 60px; margin-top: 40px;">Camiones > Inicio</p>
      </div>
    <div class="col-lg-10">
    <button style="margin-left: 60px; margin-top: 40px;" type="button" class="btn btn-primary" (click)="navigateTo('#')">Regresar</button>
    </div>
  </div>
</div>
<!-- <p style="margin-left: 60px; margin-top: 30px;">Camiones > Inicio</p> -->

<div class="home-container">
  <div class="logo-container">
    <h2>Bienvenidos</h2>
  </div>
  <div class="row" style="flex-wrap: nowrap;">
    <div class="col-lg-7">
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem;" (click)="navigateTo('camionConsulta')"> 
          <div class="card-header"></div>
          <div class="card-body">
            <img src="../../../assets/images/Camion.webp" alt="Logo" class="cardlogo">
            <h4 class="card-title">Camiones</h4>
            <p class="card-text"></div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem;" (click)="navigateTo('conductorConsulta')"> 
          <div class="card-header"></div>
          <div class="card-body">
            <img src="../../../assets/Icono/Operador.png" alt="Logo" class="cardlogo">
            <h4 class="card-title">Conductores</h4>
            <p class="card-text"></div>
      </div>
    </div>
    
  </div>
</div>
