<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      
      <a style="cursor: pointer;" class="navbar-brand" (click)="navigateTo('')">
        <img src="../../../assets/logos/Logo.jpg" alt="Logo" class="icon">
               DEL BOSQUE                    
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo('datos')">ADMINISTRACION                    
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo('XmlPage')">XML</a>
          </li>
        </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" (click)="navigateTo('Perfil')">PERFIL                    </a>
              </li>
            </ul>
          </form>
        
      </div>
    </div>
  </nav>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <p style="margin-left: 60px; margin-top: 40px;">Relacionar > Inicio</p>
        </div>
      <div class="col-lg-8" style="text-align: right;">
      <button style="margin-left: 60px; margin-top: 40px;" type="button" class="btn btn-primary" (click)="navigateTo('relacionarHome')">Regresar</button>
      </div>
    </div>
  </div>

  <div class="home-container">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2">
              <p style="margin-left: 20px; margin-top: 10px;">Detalles de la Relación</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="FiguraTransporte">Nombre Apellido</label>
                <input type="text" class="form-control" id="FiguraTransporte" [(ngModel)]="relacionFolio.Autotransporte" name="FiguraTransporte" readonly>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="Autotransporte">Placas del Camión</label>
                <input type="text" class="form-control" id="Autotransporte" [(ngModel)]="relacionFolio.FiguraTransporte" name="Autotransporte" readonly>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="FolioSuat">Folio</label>
                <input type="text" class="form-control" id="FolioSuat" [(ngModel)]="relacionFolio.folio" name="FolioSuat" readonly>
              </div>
              
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="folioSuat">Flete Base</label>
                <input class="form-control" type="number" [(ngModel)]="relacionFolio.fleteB" name="fleteB" readonly>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-2"></div>
             
              <div class="col-md-2">
                <div class="form-group">
                  <label for="folioSuat">Casetas</label>
                  <input class="form-control" type="number" [(ngModel)]="relacionFolio.casetas" name="casetas" readonly>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="folioSuat">Diesel</label>
                  <input class="form-control" type="number" [(ngModel)]="relacionFolio.diesel" name="diesel" readonly>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="folioSuat">Stops</label>
                  <input class="form-control" type="number" [(ngModel)]="relacionFolio.stops" name="stops" readonly>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="folioSuat">Total</label>
                  <input class="form-control" type="number" [(ngModel)]="relacionFolio.total" name="total" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
            </div>
          <!-- <div class="row">
            <div class="col-md-4">
              <button class="btn btn-primary" type="button" (click)="navigateTo('relacionarHome')">Volver</button>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="d-grid gap-2">
                <button class="btn btn-lg btn-primary" type="button" (click)="navigateTo('relacionarHome')">Volver</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  