<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logos/Logo.jpg" alt="Logo" class="icon">
               DEL BOSQUE                    
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="datos">ADMINISTRACION                    
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="XmlPage">XML</a>
          </li>
        </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="Perfil">PERFIL                    </a>
              </li>
            </ul>
          </form>
        
      </div>
    </div>
  </nav>
  <div class="alert alert-dismissible alert-success" *ngIf="SaveState === 'valid'">
    <strong>Con Exito!</strong> Se han guardado los datos correctamente.
  </div>
  <div class="alert alert-dismissible alert-danger" *ngIf="SaveState === 'invalid'">
    <strong>Error! </strong> <a class="alert-link">A surgido un error al guardar los datos.</a> Intente nuevamente.
  </div>
  <div class="container-fluid">
    <div class="row" style="flex-wrap: nowrap;">
      <div class="col-lg-10">
        <p style="margin-left: 60px; margin-top: 40px;">Camiones > Camiones > Tabla Camiones > Detalles de Camion</p>
        </div>
      <div class="col-lg-10">
      <button style="margin-left: 60px; margin-top: 40px;" type="button" class="btn btn-primary" (click)="navigateTo('camionConsulta')">Regresar</button>
      </div>
    </div>
  </div>
  
  <div class="home-container">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="container-fluid">
          <div class="row" style="flex-wrap: nowrap;">
            <div class="col-lg-10">
              <p style="margin-left: 20px; margin-top: 10px;">Detalles del Camion</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="permSCT">Permiso SCT</label>
                <input type="text" class="form-control" id="permSCT" [(ngModel)]="camion.PermSCT" name="permSCT" required>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="numPermisoSCT">Número Permiso SCT</label>
                <input type="text" class="form-control" id="numPermisoSCT" [(ngModel)]="camion.NumPermisoSCT" name="numPermisoSCT" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="configVehicular">Configuración Vehicular</label>
                <input type="text" class="form-control" id="configVehicular" [(ngModel)]="camion.IdentificacionVehicular.ConfigVehicular" name="configVehicular" required>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="pesoBrutoVehicular">Peso Bruto Vehicular</label>
                <input type="text" class="form-control" id="pesoBrutoVehicular" [(ngModel)]="camion.IdentificacionVehicular.PesoBrutoVehicular" name="pesoBrutoVehicular" required>
              </div>
            </div>
            <div class="col-md-1">
              <div class="form-group">
                <label for="placaVM">Placa VM</label>
                <input type="text" class="form-control" id="placaVM" [(ngModel)]="camion.IdentificacionVehicular.PlacaVM" name="placaVM" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="anioModeloVM">Año Modelo VM</label>
                <input type="text" class="form-control" id="anioModeloVM" [(ngModel)]="camion.IdentificacionVehicular.AnioModeloVM" name="anioModeloVM" required>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="aseguraRespCivil">Aseguradora Responsabilidad Civil</label>
                <input type="text" class="form-control" id="aseguraRespCivil" [(ngModel)]="camion.Seguros.AseguraRespCivil" name="aseguraRespCivil" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="polizaRespCivil">Póliza Responsabilidad Civil</label>
                <input type="text" class="form-control" id="polizaRespCivil" [(ngModel)]="camion.Seguros.PolizaRespCivil" name="polizaRespCivil" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="subTipoRem">Subtipo Remolque</label>
                <input type="text" class="form-control" id="subTipoRem" [(ngModel)]="camion.Remolques.Remolque[0].SubTipoRem" name="subTipoRem" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="placa">Placa</label>
                <input type="text" class="form-control" id="placa" [(ngModel)]="camion.Remolques.Remolque[0].Placa" name="placa" required>
              </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-4">
              <div class="d-grid gap-2">
                <button class="btn btn-lg btn-success" type="submit">Guardar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  