.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15rem;
  text-align: center;
  width: auto;
}

.logo {
  max-width: 120px; 
  margin-bottom: 20px;
}

.logo-container {
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.cardlogo {
  max-width: 200px; 
  margin-bottom: 20px;
}

.icon {
  max-width: 60px; 
  margin-bottom: 0px;
  margin-left: 20px;
}

h2 {
  color: #333;
}
.card-container {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000vh;
  text-align: center;
}

.card {
  margin: 0px;
  margin-right: 0px;
  width: 90rem;
}

.card-header{
  text-align: left;
}

.icono {
  max-width: 25px;
  margin-bottom: 0px;
  margin-left: 20px;
  cursor: pointer;
}
  /*/////////////////////////////////////////////////////////*/
  
body {
    display: flex;
    height: 100vh;
  }
  
  #sidebar {
    min-height: 100vh;
    padding-top: 1rem;
  }
  
  .nav-link {
    font-size: 1.1rem;
    padding-left: 5px;
    margin-left: 5px;
  }
  
  .nav-link.active {
    font-weight: bold;
    background-color: #8F9A9B;
    color: #fbfbfb;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
