<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      
      <a style="cursor: pointer;" class="navbar-brand" (click)="navigateTo('')">
        <img src="../../../assets/logos/Logo.jpg" alt="Logo" class="icon">
               DEL BOSQUE                    
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo('datos')">ADMINISTRACION                    
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateTo('XmlPage')">XML</a>
          </li>
        </ul>
          <form class="d-flex">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" (click)="navigateTo('Perfil')">PERFIL                    </a>
              </li>
            </ul>
          </form>
        
      </div>
    </div>
  </nav>
  <div class="alert alert-dismissible alert-success" *ngIf="SaveState === 'valid'">
    <strong>Con Exito!</strong> Se han guardado los datos correctamente.
  </div>
  <div class="alert alert-dismissible alert-danger" *ngIf="SaveState === 'invalid'">
    <strong>Error! </strong> <a class="alert-link">A surgido un error al guardar los datos.</a> Intente nuevamente.
  </div>
  <div class="container-fluid">
    <div class="row" >
      <div class="col-lg-4">
        <p style="margin-left: 60px; margin-top: 40px;">Relacionar > Inicio</p>
        </div>
      <div class="col-lg-8" style="text-align: right;">
      <button style="margin-right: 40px; margin-top: 40px;" type="button" class="btn btn-primary" (click)="navigateTo('relacionarHome')">Regresar</button>
      </div>
    </div>
  </div>

  <div class="home-container">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="container-fluid">
          <div class="row" style="flex-wrap: nowrap;">
            <div class="col-lg-10">
              <p style="margin-left: 20px; margin-top: 10px;">Editar Relación</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="FiguraTransporte">Nombre Apellido</label>
                <select class="form-control" id="FiguraTransporte" [(ngModel)]="relaciones.FiguraTransporte" name="FiguraTransporte" required>
                  <option value="" disabled selected>Seleccionar</option>
                  <option *ngFor="let Conductor of Conductores" [value]="Conductor._id">{{Conductor.NombreFigura}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="Autotransporte">Placas del Camión</label>
                <select class="form-control" id="Autotransporte" [(ngModel)]="relaciones.Autotransporte" name="Autotransporte" required>
                  <option value="" disabled selected>Seleccionar</option>
                  <option *ngFor="let Autotransporte of Autotransportes" [value]="Autotransporte._id">{{Autotransporte.IdentificacionVehicular.PlacaVM}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="folio">Folio</label>
                <select class="form-control" id="folio" [(ngModel)]="relaciones.folio" name="FolioSuat" required>
                  <option value="" disabled selected>Seleccionar</option>
                  <option *ngFor="let folio of Folios" [value]="folio.Folio">{{folio.Folio}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="folioSuat">Flete Base</label>
                <input class="form-control" type="number" [(ngModel)]="relaciones.fleteB" name="fleteB" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
           
            <div class="col-md-2">
              <div class="form-group">
                <label for="folioSuat">Casetas</label>
                <input class="form-control" type="number" [(ngModel)]="relaciones.casetas" name="casetas" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="folioSuat">Diesel</label>
                <input class="form-control" type="number" [(ngModel)]="relaciones.diesel" name="diesel" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="folioSuat">Stops</label>
                <input class="form-control" type="number" [(ngModel)]="relaciones.stops" name="stops" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="folioSuat">Total</label>
                <input class="form-control" type="number" [(ngModel)]="relaciones.total" name="total" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="d-grid gap-2">
                <button class="btn btn-lg btn-success" type="submit">Guardar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  