<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    
    <a class="navbar-brand" (click)="navigateTo('')">
      <img src="../../../assets/logos/Logo.jpg" alt="Logo" class="icon">
             DEL BOSQUE                    
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('datos')">ADMINISTRACION                    
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigateTo('XmlPage')">XML</a>
        </li>
      </ul>
        <form class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" (click)="navigateTo('Perfil')">PERFIL                    </a>
            </li>
          </ul>
        </form>
      
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row" style="flex-wrap: nowrap;">
    <div class="col-lg-10">
      <p style="margin-left: 60px; margin-top: 40px;">XML > Inicio</p>
      </div>
    <div class="col-lg-10">
    <button style="margin-left: 60px; margin-top: 40px; margin-bottom: 30px;" type="button" class="btn btn-primary" (click)="navigateTo('#')">Regresar</button>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="card bg-light mb-3">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row" style="flex-wrap: nowrap;">
          <div class="col-lg-10">
            <p style="margin-left: 20px; margin-top: 10px;">Catálogo XML</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="filterDate">Filtrar por Fecha de Creación:</label>
            <input type="date" class="form-control" id="filterDate" (change)="filtrarPorFecha($event)">
          </div>
        </div>
      </div>
      <table class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr class="table-dark">
            <th scope="row">Nombre Archivo</th>
            <th scope="col">Fecha Creación</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let archivo of archivosFiltrados" class="table-active">
            <td>{{ archivo.nombre }}</td>
            <td>{{ archivo.fechaCreacion | date: 'dd-MM-yyyy' }}</td>
            <td>
              <img src="../../../assets/Icono/descarga-directa3.png" (click)="descargarArchivo(archivo.nombre)" class="icono">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


