.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
  
.logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
  
.logo-container {
  margin-bottom: 0px;
  padding-bottom: 50px;
}
  
.cardlogo {
  max-width: 80%; 
  height: auto;
  margin-bottom: 20px;
}

.nav-link{
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}

.icon {
  max-width: 60px; 
  height: auto;
  margin-bottom: 0px;
  margin-left: 20px;
}
  
  h2 {
    color: #333;
  }

  .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  max-width: 100%; 
  overflow: hidden; 
}

  .card {
    margin: 0px;
    margin-right: 0px;
    width: 100%;
    
  }

  .card-header{
    text-align: left;
    
  }

  .row{
    width: 100%;
    
  }

  .icono {
    max-width: 25px;
    margin-bottom: 0px;
    margin-left: 20px;
    cursor: pointer;
  }
  