/* src/app/home/home.component.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
}

.logo {
  max-width: 120px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-bottom: 20px;
}

.logo-container {
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.cardlogo {
  max-width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-bottom: 20px;
}

.icon {
  max-width: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-bottom: 0px;
  margin-left: 20px;
}

.icono {
  max-width: 25px; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-bottom: 0px;
  margin-left: 20px;
  cursor: pointer;
}

h2 {
  color: #333;
}
.card-container {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000vh;
  text-align: center;
}

.card {
  margin: 0px;
  margin-right: 0px;
  width: 90rem;
}

.card-header{
  text-align: left;
}
